@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Montserrat";
    font-style: normal;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
    background-color: black;
    width: 100%;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2rem;
    background-color: black;
    width: 100%;
}


section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 10rem;
    padding-bottom: 10rem;
    background-color: #EAE10F;
    width: 100%;
}

.qualities {
    border: black;
    border-radius: 30px;
    border-width: 2px;
    border-style: solid;
    width: 16.25rem;
    height: 16.5rem;
}

.avatar {
    border: black;
    border-radius: 50%;
    border-width: 5px;
    border-style: solid;
    text-align: center;
    width: 16rem;
    height: 16rem;
}

.avatar h3{
    padding-top: 3.25rem;
}

.avatar img {
    padding-top: 2.30rem;
    padding-right: 0.625rem;
    height: 12.5rem;
    width: 12.5rem;
}

ol {
    color: black;
    font-weight: 400;
    padding-left: 2rem;
}

h3 {
    text-align: center;
    color: black;
    font-weight: 500;
}

h1 {
    color: #EAE10F;
    font-weight: 700;
}

@media (max-width: 820px) {
    .break {
        width: 100%;
        margin-top: 1.875rem;
        margin-bottom: 1.875rem;
    }
    
    .avatar {
        margin: 4.375rem 0 8.125rem 0;
        border: black;
        border-radius: 50%;
        border-width: 5px;
        border-style: solid;
        text-align: center;
        width: 16rem;
        height: 16rem;
    }
}